<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joelimyx.politicallocal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Transparent">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".reps.detail.DetailRepsActivity"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joelimyx.politicallocal.main.MainActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0001e0084b67cc852c91550c7544674228cc6e53"/>

        <activity
            android:name=".bills.detail.DetailBillActivity"
            android:label=""
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.DetailBill">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.joelimyx.politicallocal.main.MainActivity"/>
        </activity>
    </application>

</manifest>